<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('burger_index') }}">Nos Burgers</a></li>
            <li><a href="{{ path('oignon_index') }}" >Listes des oignons </a></li>
            <li><a href="{{ path('pain_index') }}" >Listes des pains</a></li>
            <li><a href="{{ path('sauce_index') }}" >Listes des sauces</a></li>

        </ul>
    </nav>
</header>